body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header-class {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1158px;
}

.container-two {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    /*для визначення відступа від логотипа*/
}

.logo-studio {
    color: #2e2f42;
    font-family: "Raleway";
}

/*для розміщення логотипу та меню в одну лінію*/
.nav-header {
    display: flex;
    align-items: center;
}

.page-nav {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px; /*для визначення відступів між пунктами меню*/
}

.a .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;

}

.page-nav a.nav-link:hover {
    color: #404bbf;
}

.page-nav a.nav-link:focus {
    color: #404bbf;
}

.page-nav:hover {
    color: #4D5AE5;
}

.page-nav:active {
    color: #404BBF;
}

.nav-link a:hover {
    color: #404bbf;
}

.nav-link a:focus {
    color: #404bbf;
}

.nav-link {
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
    margin: 0;
    padding-left: 0;
    padding: 24px 0;
}

.address {
    font-style: normal;
    display: flex;
    /*для розташування контактів по горизонталі*/
    gap: 40px;
    /*для визначення відступів між пунктами контактів*/
}

.kontakt {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.kontakt:hover {
    color: #404bbf;
}

.kontakt:focus {
    color: #404bbf;
}

.ul-kontakt {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 40px;
}

/*section 1*/
.section-effective {
    background-color: #2e2f42;
    padding: 188px 0;
    /*для визначення відступів всередині секції*/
    justify-content: center;
}



.h-effective {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 496px;
    height: 120px;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    /*для вимкнення стандартного оформлення кнопки*/

    border-radius: 4px;
    /*для визначення заокруглень у кнопки*/
    margin: 0 auto;
            /* Центрування горизонтально */
    text-align: center;}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/*section 2*/

.section-about {
    padding: 120px 0 120px; /*для визначення відступів всередині секції*/
}

.h-about {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.ull {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}


.li-about {
    flex-basis: calc((100% - 3 * 24px) / 4); /*для визначення ширини пункту списку*/
}


.h-aboutus {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 8px; /*для визначення відступу між заголовком і параграфом*/
    text-align: center;
}

.p-aboutus {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*section 3*/
.ourteam {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.h-ourteam {
    font-family: "Roboto";
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
    font-weight: 700;
    width: 162px;
    height: 40px;
}


.ul-ourteam {
    margin: 0;
    padding-left: 0; /*для визначення відступів між заголовком та параграфом*/
    display: flex; /*для розміщення елементів списку по горизонталі в рядок*/
    gap: 24px; /*для визначення розмірів відступів між елементами списку*/
}

.li-productdesigner {
    background-color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    border-radius: 0px 0px 4px 4px; /*для визначення заокруглень внизу блока*/
    width: calc((100% - 72px) / 4); /*для визначення ширини пункту списку*/
    gap: 32px;
}
img {
    display: block;
}
.image-container {
    display: block;
    width: 100%;
    text-align: center;
    padding: 32px 0; /*для визначення відступів від краю контейнера*/

}

/*section 4*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px; /*для визначення відступів всередині секції*/
}


.hh-portfolio {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
}

.ul-portfolio {
    display: flex; /*для розміщення елементів списку в рядок по горизонталі*/
    flex-wrap: wrap; /*для переносу елементів списку на новий рядок якщо їм не вистачає місця в попередньому*/
    column-gap: 24px; /*для визначення горизонтальних відступів між пунктами списку*/
    row-gap: 48px; /*для визначення вертикальних відступів між елементами списку якщо вони переносяться на новий рядок*/
}


.li-portfolio {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: calc((100% - 48px) / 3); /*для визначення ширини для елемента списку*/
}

.h-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    padding: 0;
    margin-bottom: 8px; /*для визначення відступу між заголовком та параграфом*/
}

.p-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
}




.image-container {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 32px 16px; /*для визначення відступів від країв контейнера*/
    border: 1px solid #e7e9fc; /*для визначення стилю обводки по периметру контейнера*/
    border-top: none; /*для скидання стилів обводки для верхнього краю контейнера*/
}

/*футер*/
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    /*для визначення відступів всередині секції*/
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    /*для додавання посиланню блочних властивостей*/
    margin-bottom: 16px;
    /*для визначення відступу між посиланням та параграфом*/
    display: inline-block;
    /*для додавання посиланню блочних властивостей*/
}

.logo-studio-footer {
    color: #f4f4fd;
    display: inline-block;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    max-width: 264px;
    /*для визначення максимально допустимої ширини тексту*/
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-family: "Roboto";
    text-align: left;
}